body
{
	margin:2px;
	font-family:'Roboto', 'Noto', sans-serif;
	font-size:13px;
	line-height:1.5;
	min-height:100vh;
	text-decoration: none;
}
.top
{
	margin-top: 20px;
	display: flex;
	font-size: 17px;
	width:95%;
	justify-content: space-between;
	margin-bottom: 2%;
}
.bar
{
	visibility: hidden;
}
.heading
{
	text-decoration: none;
	color: black;
}
.navbar
{
	display: flex;
	position: absolute;
	background-color: white;
	opacity: 0.75;
	width:98%;
	text-align: center;
	justify-content: center;
	align-content: center;
	margin-top: 10px; 
}
.menu
{
	text-decoration: none;
	color: black;
	padding: 8px 16px;
	font-size: 25px : 
}

.mens_outerwear
{
	margin-top: 80px;
	display:block;
	//position: relative;
	height: 300px;
}
.mens_outerwear img{

	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	overflow:hidden;

}
.ladies_outerwear
{
	margin-top: 20px;
	display: block;
	position: relative;
	height: 300px;
}
.ladies_outerwear img{
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	overflow:hidden;
}
.wear
{
	margin-top: 20px;
	font-size: 40px;
	margin-bottom: 40px;
}
.outerwear_tab
{
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: black;
	padding: 10px 20px;
	border: 2px solid black;
}
.tshirt
{
	margin-top: 20px;
	display: flex;
	width: 100%;
	height:100%;
	margin-bottom: 160px;
}
.shirt
{
	margin-top: 20px;
	width: 100%;
	height: 100% ;
}
.shirt img{
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	overflow:hidden;
}

.foot
{
	text-decoration: none;
	color: grey;
	font-size: 13px;
}
.foot2
{
	margin-top: 10px;
	box-sizing: border-box;
	width:120px;
	margin: 8px auto black;
	text-align: center;
	background-color: black;
	padding: 10px;
	color:white;
}
@media only screen and (max-width: 770px)
{
	/*.navbar
	{
		display:none;
	}
	.bar
	{
		visibility: visible;
	}*/
	.mens_outerwear
	{
		margin-top: 70px;
		display:block;
		height: 300px;
	}
}
